header {
  display: flex;
  position: fixed;
  z-index: 2;
}

nav {
  background-color: white;
  border-radius: 0 0 40px 0;
  display: flex;

  font-weight: 500;
  font-size: large;

  box-shadow: 5px 10px 5px rgb(0,0,0,0.2);
}

nav img {
  height: 3vh;
  margin: 0 16vw 0 5vw;
  width: auto;
}

li {
  list-style-type: none;
  margin: 10px 3vw 10px 3vw;
}

.smaller-screen-header {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width:769px) {
  li {
    margin: 5px 3vw 5px 3vw;
  }

  nav {
    font-size: large;
  }

  .larger-screen-header {
    display: none;
  }

  .smaller-screen-header {
    display: block;
  }
}