.landing_page {
  display: flex;
  width: 100vw;
}

.introduction {
  height: 93vh;
  max-width: 60vw;
  position: relative;
  z-index: 1;
}

.introduction h1{
  font-size: calc(60px + 1.3vw);
  padding: 15vh 0 0 5vw;
}

.introduction h3 {
  font-size: 2vw;
  padding: 0 0 0 5vw;
}

.section .landing_page{
  position: relative;
  max-width: 920px;
  min-height: 75vh;
  padding: 40px;
  margin: auto;
  background-color: #48c9b0;
  color: #ffffff;
}

.section .bg-move {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vw;
  right: auto;
  width: 100%;
  background-image: url("../images/landing-thing.png");
  background-size: cover;
  background-position: center;
}

.arrow_down {
display: flex;
justify-content: center;
}

.arrow_down img {
  height: 7vh;
  width: auto;
}

.arrow_down a:hover {
  cursor: pointer;
  box-shadow: none;
}

@media screen and (max-width:769px) {
  .bg-move {
    visibility: hidden;
  }

  .introduction h1{
    font-size: 50px;
    padding: 15vh 0 0 20px;
  }
  
  .introduction h3 {
    font-size: 16px;
    padding: 0 0 0 20px;
  }

  .introduction {
    height: 93vh;
    max-width: none;
  }

  .arrow_down {
    position: relative;
    bottom: 10vh;
  }
}